<!DOCTYPE html>
<html lang="en">
<head>
<title>Basic Info</title>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="../../static/stylesheets/css.css">
</head>

<body>
    <div class="maincontainer">
        <div class="navbar">
            <img class="logoimg" src="../static/images/logo.png" alt="Logo">
            <a href={{ url_for("home")}}>Home</a>
            <a href={{ url_for("basicinfo")}} class="active">Basic Info</a>
            <a href={{ url_for("keepingaxolotls")}}>Keeping Axolotls</a>
            <a href={{ url_for("inthewild")}}>In The Wild</a>
            <a href={{ url_for("gallery")}}>Gallery</a>
            <a href={{ url_for("survey")}}>Survey</a>
            <a href={{ url_for("contact")}}>Contact</a>
        </div>
    <Div class="main">
        <h1>Basic Info</h1>
        <p>Axolotls are amphibians from Mexico. They are freshwater animals, and like to live in cooler waters. Amphibians can breath on land and in water, however, axolotls are different in that they can on breathe underwater. They have 6 gills, 3 on either side of their heads that they use to breathe air through. They take their name after the Aztec god of fire and lightning, Xolotl, who according to legend transformed himself into a salamander to avoid being sacrificed.
            <br>
            <br>
            Axolotls have an incredible ability to regenerate any limbs that are lost. Should an axolotl lose its limb, they will over time grow it back. Axolotls are essentially salamanders that never undergo metamorphosis, meaning they have to stay underwater their whole lives. Due to this interesting ability they have, they are used as common research subjects by biologists to understand how they can regenerate their limbs without leaving permanent scarring.         <br>
            <br>
            Axolotls reach sexual maturity at one year old, and it's at this stage the male then hunts out the female. Females can lay thousands of eggs and they are normally planted on rocks or plants. They hatch after 2 weeks and the babies are then left to fend for themselves without parental care. It has been known that hungry axolotl larvae snack on their siblings limbs as they grow back anyway!         <br>     
        </p>
        <img class="bodyimg" src="../../static/images/wooper.jpg">
    </div>  
    </div>  
</body>
</html>