<!DOCTYPE html>
<html lang="en">
<head>
<title>In The Wild</title>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="../../static/stylesheets/css.css">
</head>

<body>
    <div class="maincontainer">
        <div class="navbar">
            <img class="logoimg" src="../static/images/logo.png" alt="Logo">
            <a href={{ url_for("home")}}>Home</a>
            <a href={{ url_for("basicinfo")}} >Basic Info</a>
            <a href={{ url_for("keepingaxolotls")}}>Keeping Axolotls</a>
            <a href={{ url_for("inthewild")}} class="active">In The Wild</a>
            <a href={{ url_for("gallery")}}>Gallery</a>
            <a href={{ url_for("survey")}}>Survey</a>
            <a href={{ url_for("contact")}}>Contact</a>
        </div>
    <Div class="main">
        <h1>In The Wild</h1>
        <p>Axolotls are a freshwater species and can only be found in 2 lakes in Mexico, Lake Xochimilco and Lake Chlaco. They are critically endangered in these lakes due to pollution from growing nearby human populations. There are predicted to be less than 1000 adult Axolotls left in the wild as of 2019, so due to their shrinking wild nature it is critical that these species are kept in home aquariums to avoid them going extinct.
            <br>
            <br>
            In the wild, an axolotl will spend most of the day buried in the mud of the lakes to avoid predators. It is at night that they come out and begin hunting for worms, insect larvae, and small fish that they can catch. They have very few predators in the lakes themselves, however, they are at risk of being swooped up by large birds such as storks and heron. Some fish such as large carp and tilapia have also been known to eat them on occasion.
            <br>
            <br>
            In recent years there has been more of an effort to restore the population of axolotls in the wild. Conservationists have been building natural shelters for them in their lakes to help them hide, planting fresh plants to encourage growth in the lakes, and pumping fresh water into the lakes. All of this is in an attempt to encourage the axolotls to breed more and keep their species from going extinct in the wild. For more information on axolotls in the wild, a documentary can be watched below that dives into more details on what you have read here.
        </p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/NL0ad3jBWRI?si=rG4P6vYQEdxxat8I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen style="width: 30%"></iframe>
    </div>  
    </div>  
</body>
</html>