<!DOCTYPE html>
<html lang="en">
<head>
<title>Keeping Axolotls</title>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="../../static/stylesheets/css.css">
</head>

<body>
    <div class="maincontainer">
        <div class="navbar">
            <img class="logoimg" src="../static/images/logo.png" alt="Logo">
            <a href={{ url_for("home")}}>Home</a>
            <a href={{ url_for("basicinfo")}} >Basic Info</a>
            <a href={{ url_for("keepingaxolotls")}} class="active">Keeping Axolotls</a>
            <a href={{ url_for("inthewild")}}>In The Wild</a>
            <a href={{ url_for("gallery")}}>Gallery</a>
            <a href={{ url_for("survey")}}>Survey</a>
            <a href={{ url_for("contact")}}>Contact</a>
            <a href={{ url_for("logout")}}>Logout</a>
        </div>
    <Div class="main">
        <h1>Keeping Axolotls</h1>
        <p>
            Axolotls can make great pets! Not only are they something a bit different, but they are also very entertaining to watch due to their dopey nature! Axolotls will spend a lot of the day chilling out, walking around the bottom of the tank searching for food when they are hungry, otherwise, they can be found sleeping in their caves. At night time, Axolotls come alive and start swimming around their tank!        
            <Br>
            <br>
            You will need a 20 galloon aqaurium to host an axolotl. It is highyl reconemdned that they have plenty of floorspace as well as they will be spending most of their days in the ground. Providing an axolotl places to hide and chill out is also essential. Without somewhere they can go to get away from onlockers, they will become stressed which can quickly deteoriate their health.
            <br>
            <br>
            It is best to only keep axolotls of the same size together should you be keeping more than one. This is because they have been known to eat smaller axolotls, as they will pretty much eat anything they can fit in their mouths! 
            <br>
            <br>
            On the subject of food, axolotls diets can consist of frozen bloodworms, garden earthworms, nutrition pellets, and fish brought from super market. I tend to opt for a combination of pellets and bloodworms so that my axolotl has a varied diet but also doesn't have the risk of picking up parasites from outside sources.     </p>
        </p>
        <img class="bodyimg" src="../../static/images/tank.jpg">
    </div>  
    </div>  
</body>
</html>
