<!DOCTYPE html>
<html lang="en">
<head>
<title>User</title>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="../static/stylesheets/css.css">
</head>

<body>
    <div class="maincontainer">
        <div class="navbar">
            <img class="logoimg" src="../static/images/logo.png" alt="Logo">
            <a href={{ url_for("home")}}>Home</a>
            <a href={{ url_for("basicinfo")}}>Basic Info</a>
            <a href={{ url_for("keepingaxolotls")}}>Keeping Axolotls</a>
            <a href={{ url_for("inthewild")}}>In The Wild</a>
            <a href={{ url_for("gallery")}}>Gallery</a>
            <a href={{ url_for("survey")}}>Survey</a>
            <a href={{ url_for("contact")}}>Contact</a>
            <a href={{ url_for("user")}} class="active" >User</a>
            <a href={{ url_for("logout")}}>Logout</a>
        </div>
    <Div class="main">
        <h1>Axolotl Info</h1>
        <h2>Axo lot of Info to get you started!</h2>
        <p>Welcome to my website about Axolotls!<br> 
            User test 
        </p>
        <img class="bodyimg" src="../static/images/homeimage.webp">
    </div>  
    </div>  
</body>
</html>