<!DOCTYPE html>
<html lang="en">
<head>
<title>Home</title>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/css.css') }}">
</head>

<body>
    <div class="maincontainer">
        <div class="navbar">
            <img class="logoimg" src="../static/images/logo.png" alt="Logo">
            <a href={{ url_for("home")}} class="active">Home</a>
            <a href={{ url_for("basicinfo")}}>Basic Info</a>
            <a href={{ url_for("keepingaxolotls")}}>Keeping Axolotls</a>
            <a href={{ url_for("inthewild")}}>In The Wild</a>
            <a href={{ url_for("gallery")}}>Gallery</a>
            <a href={{ url_for("survey")}}>Survey</a>
            <a href={{ url_for("contact")}}>Contact</a>
            <a href={{ url_for("change_password")}}>Change Password</a>
            <a href={{ url_for("logout")}}>Logout</a>
        </div>
    <Div class="main">
        <h1>Axolotl Info</h1>
        <h2>Axo lot of Info to get you started!</h2>
        <p>Welcome to my website about Axolotls!<br> 
            Axolotls are fascinating creatures that despite spending their whole life in water, are actually amphibians and not fish. <br>
            I have been keeping and raising axolotls for a few years, and across this site, you will learn all about Axolotls, from keeping them, to how they live in the wild, as well as lots of pictures of these funny critters! <br>
            If you have any questions at the end of your time on this website, then please do not hesitate to contact me using the "Contact Us" tab. I would love to hear from you and chat further about them!
        </p>
        <img class="bodyimg" src="../static/images/homeimage.webp">
    </div>  
    </div>  
</body>
</html>
